{
  "extends": [
    "eslint:recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import",
    "eslint-plugin-jsdoc"
  ],
  "env": {
    "browser": false,
    "node": true,
    "es6": true,
    "jest": true
  },
  "overrides": [
    {
      "files": ["src/**/*.ts"],
      "excludedFiles": ["src/**/__tests__/**"],
      "rules": {
        "no-restricted-syntax": ["error", "ForOfStatement", "ForInStatement"],
        "no-throw-literal": "error",
        "import/no-default-export": "error",
        "import/no-self-import": "error"
      },
      "parserOptions": {
        "ecmaVersion": 2015,
        "sourceType": "module"
      }
    },
    {
      "files": ["types/**"],
      "rules": {
        "no-use-before-define": "off",
        "no-undef": "off" // turned off to avoid issue with triple-slash path directive
      }
    }
  ],
  "rules": {
    "indent": ["error", 2, {"SwitchCase": 1}],
    "quotes": ["warn", "single", "avoid-escape"],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "no-underscore-dangle": "off",
    "eqeqeq": ["error", "smart"],
    "max-len": ["error", { "code": 120 }],
    "no-unused-expressions": "off",
    "new-cap" : "off",
    "no-mixed-requires": "off",
    "camelcase": ["error", {"properties": "never"}],
    "no-use-before-define": ["error", "nofunc"],
    "eol-last": ["error", "always"],
    "@typescript-eslint/no-unused-vars": "error",
    "keyword-spacing": "error",
    "comma-style": "error",
    // added rules:
    "strict": "off",
    "comma-dangle": ["error", "always-multiline"],
    "no-console": "off",
    "callback-return": ["error"],
    "handle-callback-err": ["error", "^(err|error|\\w+Error)$"],
    "no-buffer-constructor": "error",
    "no-process-env": "error",
    "import/no-extraneous-dependencies": "off",
    "node/no-unpublished-require": "off",
    "complexity": ["warn"],
    "class-methods-use-this": "off",
    "no-magic-numbers": ["error", {
      "ignore": [0, 1, -1, 1000, 60],
      "ignoreArrayIndexes": true,
      "enforceConst": false,
      "detectObjects": false
    }],
    "no-param-reassign": ["off"],
    "no-unmodified-loop-condition": "error",
    "no-useless-call": "error",
    "no-useless-escape": "off",
    "prefer-promise-reject-errors": ["error", { "allowEmptyReject": true }],
    "require-await": "error",
    "key-spacing": ["error", { "beforeColon": false }],
    "quote-props": ["error", "as-needed"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "object-curly-spacing": ["error", "always"],
     // jsdoc
    "jsdoc/check-access": "error",
    "jsdoc/check-alignment": "error",
    "jsdoc/check-param-names": ["error", {
      "allowExtraTrailingParamDocs": true
    }],
    "jsdoc/check-syntax": "error",
    "jsdoc/check-tag-names": ["error", {
      "definedTags": [
        "parent",
        "body",
        "endpoint",
        "ngdoc",
        "restrict"
      ]
    }],
    "jsdoc/check-types": "error",
    "jsdoc/implements-on-classes": "error",
    "jsdoc/match-description": "error",
    "jsdoc/newline-after-description": "error",
    "jsdoc/require-description": ["error", {
      "checkConstructors": false,
      "descriptionStyle": "any"
    }],
    "jsdoc/require-description-complete-sentence": "error",
    "jsdoc/require-hyphen-before-param-description": ["error", "never"],
    "jsdoc/require-param": "error",
    "jsdoc/require-param-description": "error",
    "jsdoc/require-param-name": "error",
    "jsdoc/require-param-type": "error",
    "jsdoc/require-property": "error",
    "jsdoc/require-property-description": "error",
    "jsdoc/require-property-name": "error",
    "jsdoc/require-property-type": "error",
    "jsdoc/require-returns": "error",
    "jsdoc/require-returns-check": "error",
    "jsdoc/require-returns-type": "error",
    "jsdoc/require-throws": "error",
    "jsdoc/valid-types": "error"
  },
  "settings": {
    "jsdoc": {
      "mode": "typescript"
    }
  }
}
